body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    table-layout: fixed; /* Set table-layout to fixed */
    padding: 8px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    width: 25%; /* Set a fixed width for the table cells */
    cursor: pointer; /* Add cursor pointer for interactive feedback */
}

td p {
    font-weight: bold;
    margin: 0;
    text-align: center;
}

td img {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

/* Add a CSS class to represent the highlighted state */
.highlighted {
    color: #525219ce; /* Customize the highlight color as desired */
}

.grey-line {
    border: none;
    border-top: 3px solid #000000; /* Grey color */
    width: 80%;
    margin: 0 auto; /* Center the line horizontally */
    border-radius: 1px; /* Adjust the radius value to control the roundness of the corners */
}

/* Below is team styling */
ul {
    list-style-type: none;
    padding: 0;
  }
  
  .teamTables {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  caption {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .vertical-line {
    width: 1px;
    height: 100px; /* Adjust the height as needed */
    background-color: grey;
    margin: 0 10px; /* Adjust the padding (horizontal space) between the line and tables */
    display: inline-block;
    vertical-align: top; /* Ensures the line is aligned properly with the table content */
  }

  footer {
    margin-top: 30px;
  }

  /* Custom styling for the form control elements */
.form-control {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

/* Custom styling for the dropdown options */
.form-control option {
  color: #fff;
  background-color: #343a40;
}

/* Custom styling for the disabled dropdown */
.form-control:disabled,
.form-control[disabled] {
  color: #6c757d; /* Adjust the color for disabled text */
  background-color: #495057; /* Adjust the background color for disabled state */
  opacity: 1; /* Override the opacity to fully visible */
}